.dockerignore
docker-compose.yml
Dockerfile
logfile.log
*.log
.venv
.env
/__pycache__
.idea/
.vscode/
__pycache__/
flask_session/
/flask_session
flask_session
/backup
backup
backup/
notes/
/notes
notes
.tox/
.coverage
.coverage.*
htmlcov/
docs/_build/
dist/
venv/
tmp/
/tmp
tmp
/imports
imports
imports/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Flask stuff:
instance/
.webassets-cache
